<h1>
  Boost Tool
</h1>


<table>
  <thead>
    <th>Hình Ảnh</th>
    <th>
      Tên Sản Phẩm
    </th>
    <th>
      Thời gian đẩy
    </th>
    <th>
      Boost
    </th>
  </thead>
  <tbody>
    <tr *ngFor="let item of products">
      <td>
        <img style="width: 50px" src="https://cf.shopee.vn/file/{{item.images[0]}}_tn" alt="">
      </td>
      <td class="product-name">
        {{item.name}}
      </td>
      <td>
        <ng-container [counter]="item.boostCoolDownSeconds" [interval]="1000" *ngIf="'N/A' as value" (value)="value = $event">
          <span>{{ value }}</span>
        </ng-container>
        <!-- <span [counter]="item.boostCoolDownSeconds" [interval]="1000" (value)="count = $event"> {{ count }}</span>
        {{item.boostCoolDownSeconds}} -->
      </td>
      <td>
        <button class="btn-boost" type="button" (click)="boost(item.id)">Boost</button>
      </td>
    </tr>
  </tbody>
</table>
